.index-page {
  .banner {
    width: 100%;
    height: 3.75rem;
    overflow: hidden;
    .swiper-container {
      width: 100%;
      height: 3.75rem;
    }
    .swiper-pagination {
      height: .16rem;
      bottom: .20rem;
    }
    .swiper-pagination-bullet {
      width: .16rem;
      height: .16rem;
      margin: 0 .08rem;
      vertical-align: top;
    }
    .swiper-pagination-bullet-active {
      background-color: #fff;
    }
    .swiper-slide {
      display: block;
      width: 100% !important;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .list {
    margin: 0 .2rem;
  }
}
